:root {
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --font-family: 'Arial', sans-serif;
}
body {
    font-family: var(--font-family);
    background-color: #ce089c11;
    color: #ffffff;
    margin: 0px;
    padding: 100px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* if ur looking at this file wondering what the fuck im doing
its nothing important just trying to remember how css and flex box works
and whatever else troll code i decide to put in here well its not troll code but
it will prob have no explanations since its me doing things off the top of my head to reinforce */

